body {
  font-family: sans-serif;
}

.item {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  height: 30px;

  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__name {
    width: 120px;
  }

  &__avatar,
  &__name,
  &__score {
    margin-left: 10px;
  }
}
